// sidebar
// 侧边导航改为浅色系，提升与主内容区域的区分度
$menuText:#4b5563;
$menuActiveText:#2362fb;
$subMenuActiveText:#2362fb; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#f5f7fb;
$menuHover:#e1e9ff;

$subMenuBg:#f0f3fa;
$subMenuHover:#e1e9ff;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
